[mysql]
# Uncomment these if you want to use a nonstandard connection to MariaDB
socket=/home/runner/Projektaufgab-pg55/mysql/mysql.sock
user=mysql
password=0815A


# This will be passed to all MariaDB clients
[client]
user=mysql
password=0815A
host=127.0.0.1
protocol=tcp
port=3306

# The MariaDB server
[mysqld]
# Directory where you want to put your data
datadir=/home/runner/Projektaufgabe-pg55/mysql/var/
tmpdir=/home/runner/Projektaufgabe-pg55/mysql/tmp/
socket=/home/runner/Projektaufgabe-pg55/mysql/mysql.sock

# Directory for the errmsg.sys file in the language you want to use
#language=/usr/local/share/mysql/english

# This is the prefix name to be used for all log, error and replication files
#log-basename=mysqld

# Enable logging by default to help find problems
#general-log
#log-slow-queries